.row-default {
    width: 100%;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgb(236, 123, 148);
}

.col-content {
    margin-left: 385px;
    margin-bottom: 50px;
}

.btn-goto {
    width: 300px;
}

.lecimg {
    height: auto;
    width: 130px;
}

.lecimg2 {
    height: auto;
    width: 200px;
}

.reg-design {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
}